/* *{
    padding: 0;
    margin: 0;
} */

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    background-color: rgba(124, 203, 203, 0.452);
}

header {
    background-color: white;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* width: 100%; */
    height: auto;
    align-items: center;
}

section{
    /* background: linear-gradient(green,yellow); */
    background: url(./tempconv.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: 800;
    font-style: normal;
    color: rgba(115, 14, 216, 0.783);
    /* padding: 3px 40px; */
}


.menu {
    /* float: right; */
    margin-left: 35px;
    padding-top: 15px;
    font-size: 20px;

}

.menu a {
    text-decoration: none;
    color: red;
    margin: 12px;
    font-size: 20px;
    font-weight: 600;

}

.converter {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parameters {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card {
    /* width: 80%; when mobile media */
    width: 30%;
    background: linear-gradient(rgba(255, 255, 0, 0), rgba(255, 251, 0, 3));
    box-shadow: 5px 5px 10px 5px black;
}

.card h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 255, 255);
}


label {
    font-size: 18px;
    font-weight: bolder;
    color: red;
    margin-top: 20px;
    text-align: center;
}

select {
    margin-top: 20px;
    /* margin-right: 12px; */
    flex-wrap: wrap;
    height: 35px;
    padding-left: 5px;
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input {
    width: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    height: 35px;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

button {
    margin-top: 20px;
    /* margin-right: 12px; */
    flex-wrap: wrap;
    height: 50px;
    background-color: rgb(4, 29, 248);
    color: white;
    font-size:26px;
    border-radius: 20px;
    box-shadow: 2px 2px rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button:hover{
    background-color: rgb(134, 146, 255);
}

option{
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}






@media only screen and (max-width: 600px) {

    .card {
        width: 80%;
    }
    h1{
        color: blue;
        margin-top: 30px;
    }
    .card h3{
        color: red;
    }


}

@media only screen and (max-width: 768px) {

    .card {
        width: 70%;
    }
    h1{
        color: blue;
        margin-top: 30px;
    }
    .card h3{
        color: red;
    }

}

@media only screen and (max-width: 1280px) {

    .card {
        width: 65%;
    }
    h1{
        margin-top: 30px;
    }


}